{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<div class="text-center" >
  <h1>AI Assistante
    <!-- <span>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true" style="display: none;"></div>
    </span> -->
  </h1> 
</div>
<!-- <h1 id="head_heart" align="center">AI Assistante</h1> -->
<hr>
<div onload="scrollDown()" id="ai_request_response" class="overflow-auto border border-3">
  <ul class="list-group list-group-flush" id="notes" >
    {% for req in current_user.chathistory %}
    <li class="list-group-item list-group-item-light border p-3">{{ req.ask }}</li>
    {% if req.output_success == False %}
    <li class="list-group-item list-group-item-danger border p-2">{{ req.output|replace('\n', '<br>')|safe }}</li>
    {% else %}
    <li class="list-group-item list-group-item-success">{{ req.output|replace('  ', '&nbsp;')|replace('\n', '<br>')|safe }}</li>
    {% endif %}{% endfor %}
  </ul>
</ul></div>
<br>
<div>
  <form method="POST" id="ai_form">
    <div class="form-floating">
      <textarea name="ai_request" id="ai_request" class="form-control" placeholder="Leave a comment here"></textarea>
      <label for="ai_request">Введите ваш запрос</label>
    </div>
    <br>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg" id="ai_request_button" onclick="displaySnipper()">
        <span class="spinner-border spinner-border-sm" id="ai_request_spinner" role="status" aria-hidden="true"
              style="display: none;"></span>
        Generate request
      </button>
    </div>
  </form>
</div>
<hr />
{% endblock %}