{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<div class="text-center" >
  <h1>AI Assistante
  </h1> 
</div>
<hr>
<div onload="scrollDown()" id="ai_request_response" class="overflow-auto border border-3" style="height: 500px;">
  <ul class="list-group list-group-flush" id="response-list">
    {% for req in current_user.chathistory %}
    <li class="list-group-item list-group-item-light border p-3" id="someid">{{ req.ask }}</li>
    {% if req.output_success == False %}
    <li class="list-group-item list-group-item-danger border p-2">{{ req.output|replace('\n', '<br>')|safe }}</li>
    {% else %}
    <li class="list-group-item list-group-item-success">{{ req.output|replace('  ', '&nbsp;')|replace('\n', '<br>')|safe }}</li>
    {% endif %}{% endfor %}
  </ul>
</ul></div>
<br>
<div>
  <form method="POST" id="ai_form">
    <div class="form-floating">
      <textarea name="ai_request" id="ai_request" class="form-control" placeholder="Leave a comment here" minlength="3" required></textarea>
      <label for="ai_request">Введите ваш запрос</label>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <img src="{{ url_for('static', filename='gear.svg') }}">
      </button>
      </button>
      <button type="submit" class="btn btn-primary btn-lg" id="ai_request_button" onclick="displaySninner()">
        Generate request
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Параметры чат бота</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            В разработка
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr />
{% endblock %}