{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<h1 align="center">AI Assistante</h1>
<hr>
<div id="ai_request_response" class="overflow-auto border border-2" style="height: 570px;">
  <ul class="list-group list-group-flush" id="notes" >
    {% for req in user.chathistory%}
    <li class="list-group-item list-group-item-secondary border p-3">{{ req.ask }}</li>
    {% if g.get('output_status') == 'error'%}
    <li class="list-group-item list-group-item-warning">{{ req.text|replace('\n', '<br>')|safe }}</li>
    {% else %}
    <li class="list-group-item list-group-item-success">{{ req.text|replace('  ', '&nbsp;')|replace('\n', '<br>')|safe }}</li>
    {% endif %}{% endfor %}
  </ul>
</ul></div>
<br>
<div>
  <form method="POST">
    <div>
      <textarea name="ai_request" id="ai_request" cols="5" rows="2" class="form-control" placeholder="Enter your request"></textarea>
    </div>
    <br>
    <div align="center">
      <button type="submit" class="btn btn-primary">
        Generate request
    </button>
    <br>
    </div>
  </form>
</div>
{% endblock %}