{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<h1 id="head_heart" align="center">Image Generator</h1>
<hr>
<div>
  <form method="POST" id="img_form">
    <div class="form-floating">
      <textarea name="img_request" id="img_request" class="form-control" placeholder="Leave a comment here"></textarea>
      <label for="img_request">Введите описание изображение на английском или русском</label>
    </div>
    <br>
    <div align="center">
      <button type="submit" class="btn btn-primary" id="ai_request_button">
        Generate request
      </button>
    </div>
  </form>
</div>
<hr>
{% for img in history %}
<div class="container overflow-auto border border-3">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ img.url_1 }}" class="img-fluid p-2">
    </div>
    <div class="col-md-4">
      <img src="{{ img.url_2 }}" class="img-fluid p-2">
    </div>
    <div class="col-md-4">
      <img src="{{ img.url_3 }}" class="img-fluid p-2">
    </div>
  </div>
</div>
{% endfor %}
{% if history|length == 0 %}
<h2 style="text-align: center;">
  Изображения удаляются в течении некоторого времени. Не забывайте их сохранять.
</h2>
{% endif %}
{% endblock %}