{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<h1 id="head_heart" align="center">Settings</h1>
<hr>
<div>
  <form class="row g-3" method="POST">
    <ul>
      <li class="faqs">
        <p class="faqp">
          API ключ необходим для работы AI Assistance и IMG Generator. Его можно сгенерировать на сайте openai:
          https://platform.openai.com/account/api-keys
        </p>
        <input class="form-control" type="text" name="apik" placeholder="API KEY" aria-label="default input example">
      </li>
      <br>
      <li class="faqs">
        <p class="faqp">Изменить пароль (не обязательно)</p>
        <input class="form-control" type="password" name="old_password" placeholder="Old password" aria-label="default input example">
        <br>
        <input class="form-control" type="password" name="new_password" placeholder="New password" aria-label="default input example">
        <br>
        <input class="form-control" type="password" name="conf_password" placeholder="Confirm password" aria-label="default input example">
      </li>
    </ul>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
  </form>
</div>
{% endblock %}