{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<h1 align="center">FAQ</h1>
<hr>
<div class="paragraph">
    <ul>
        <li><span class="faqs">AI Assistance</span></li>
        <p class="faqp">
            AI Assistance - это языковая модель на базе искусственного интеллекта, разработанная OpenAI. 
            Ответчает на любой вопрос на основе своих данных, которым была обученна. На основе описания может генерировать программный код,
            написать статью, решить задачу, но не выпить пива вместе с вами.
        </p>
        <li><span class="faqs">IMG Generator</span></li>
        <p class="faqp">
            В блоке IMG Generator находится нейронная сеть OpenAI способная генерировать высококачественные изображения, 
            исходя из текстовых описаний на английском языке. Так же можно давать описание на русском, но текст будет автоматически
            переводится на английский.
        </p>
        <li><span class="faqs">Feedback</span></li>
        <p class="faqp">Баги, советы, пожелания сюда...</p>
        <form class="row gy-2 gx-3 align-items-center" method="POST">
            <div class="mb-3">
                <label for="body" class="form-label">Содержание</label>
                <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
            </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" name="category" id="autoSizingSelect">
                <option name="empty" selected>Категория...</option>
                <option value="bug">Баг</option>
                <option value="update">Можно улучшить/переделать</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </ul> 
</div>
{% endblock %}