{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Создать пост{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
  {% if state == 'create' %}
  <h1 align="center">Создать пост</h1>
  {% else %}
  <h1 align="center">Обновить пост</h1>
  {% endif %}
<hr>
<div class="border border-light" style="padding: 15px;">
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label(for="title", class="form-label") }}
      <!-- <label for="title" class="form-label">Заголовок</label> -->
      {% if post %}
      <!-- <input name="title" class="form-control" id="title" value="{{ post.title }}" required minlength="3"> -->
      {{ form.title(id="title", class="form-control", value=post.title) }}
      {% else %}
      {{ form.title(id="title", class="form-control") }}
      {% endif %}
    </div>
    <div class="mb-3">
      {{ form.file.label(for="formFile", class="form-label") }}
      <!-- <label for="formFile" class="form-label">Фото</label> -->
      <!-- <input class="form-control" type="file" id="formFile" name="file"> -->
      {{ form.file(class="form-control", id="formFile", accept="image/*") }}
    </div>
    <div class="mb-3">
      <!-- <label for="body" class="form-label">Содержание</label> -->
      {{ form.body.label(class="form-label") }}
      {{ form.body(id="body", rows="10", class="form-control") }}
     
    </div>
    <button type="submit" class="btn btn-secondary" style="margin-right: 10px;">Сохранить</button>
    <a type="button" class="btn btn-warning"
            href="{{ url_for('blog.index') }}">Отмена</a>
  </form>
</div>
{% endblock %}