{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Создать пост{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<h1 align="center">FUFO blogs</h1>
<hr>
<div class="border border-light" style="padding: 15px;">
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Заголовок</label>
      <input name="title" class="form-control" id="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Фото</label>
      <input class="form-control" type="file" id="formFile" name="file">
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Содержание</label>
      {% if request.form.get('body') is not none %}
      <textarea class="form-control" id="body" name="body" rows="10"required>{{ request.form.get('body') }}</textarea>
      {% else %}
      <textarea class="form-control" id="body" name="body" rows="10"required></textarea>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-secondary" style="margin-right: 10px;">Сохранить</button>
    <a type="button" class="btn btn-warning"
            href="{{ url_for('blog.index') }}">Отмена</a>
  </form>
</div>
{% endblock %}