{% extends 'base.html' %} {% block title %}{{ value }}{% endblock %}
{% block content %}
<hr>
<h1 align="center">FUFO blogs</h1>
<hr>
<!-- <div>
    <button type="button" class="btn btn-primary" >Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Новый пост</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
</div> -->
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" 
            type="button"
            href="{{ url_for('blog.create') }}">NEW POST</a>
  </div>
<br>
{% if posts is not none %}
{% for post in posts %}
  <div class="card mb-3" style="padding: 1px;">
    <div class="row g-0">
      <div class="col-md-3">
        {% if post.photo is none %}
        <img src="{{ url_for('static', filename='json.jpg')}}" class="img-fluid rounded-start" alt="...">
        {% else %}
        <img src="{{ post.photo }}" class="img-fluid rounded-start" alt="...">
        {% endif %}
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text"><small class="text-muted">from {{ post.author.login }} | {{ post.created }}</small></p>
            {% if post.author_id == current_user.id %}
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a type="button" class="btn btn-outline-primary"
                            href="{{ url_for('blog.update', id=post.id) }}">Edit</a>
                    <a type="button" class="btn btn-outline-danger"
                            href="{{ url_for('blog.delete', id=post.id) }}">Delete</a>
                </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
{% endblock %}