{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Изменить пост{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<h1 align="center">FUFO blogs</h1>
<hr>
<div class="border border-light" style="padding: 15px;">
  <form method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Заголовок</label>
      <input name="title" class="form-control" id="title" value="{{ post.title }}" required>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Фото</label>
      <input class="form-control" type="file" id="formFile" name="file">
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Содержание</label>
      <textarea class="form-control" id="body" name="body" rows="10" required>{{ post.body }}</textarea>
    </div>
    <button type="submit" class="btn btn-secondary" style="margin-right: 10px;">Сохранить</button>
    <a type="button" class="btn btn-warning"
            href="{{ url_for('blog.index') }}">Отмена</a>
  </form>
</div>
{% endblock %}